.container{
    display: flex;
    flex-direction: column;
}

.container div{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.container div img{
    height: 100%;
}


.container div h1{
    position: absolute;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    font-size: 55px;
    color:white;
    margin-top: -200px;
    backdrop-filter: brightness(70%);
    cursor: pointer;
    transition-duration: .3s;
}

.container div h1:hover{
    color:#FCD24E;
}


@media screen and (max-width:1366px){
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .container div{
        height: 600px;
    }
}

@media screen and (max-width:700px){
    .container div{
        height: 400px;
    }
    .container div h1{
        font-size: 35px;
        margin-top: -50px;
    }
}